.footer {
    /*position: fixed;*/
    font-family: Cambria, 'Arial Narrow', 'Arial', 'sans-serif';
    padding-right:1%;
    width: 100%;
    background-color: whitesmoke;
    text-align: right;
    padding-top:15px;
}

.brand-img {
    max-width: 200px;
    margin-top: 5px;
}

@media (min-width: 992px) {
   #mainNav.fixed-top .brand-img {
    content: url("../Images/TB logo blanco.png");
}

    #mainNav.navbar-shrink .brand-img {
    content: url("../Images/TB logo verde.png");
} 
}

@media (max-width: 991px) {
    .footer {
        padding-right: 5%;
    }

    .brand-img {
        content: url("../Images/TB logo verde.png");
    }
}

@media (max-width: 305px) {
    .brand-img {
        content: url("../Images/TB logo verde solo.png");
        max-width: 50px;
        margin-top: 2px;
    }
}